
@model User


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Chnage password:</p>
<form asp-action="ChangePassword">
    <input type="hidden" asp-for="username" />
    <input asp-for="password" />
    <br/>
    <input value="Submit" type="submit"/>

</form>